@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2? family= Pacifico & display=swap');
/* root: é uma psdeudo-classe que pode receber variaveis globais, é a raiz do documento.*/
@font-face {
    font-family: 'Android';
    src: url('../fontes/idroid.otf') format('opentype');
    font-weight: normal;
}


:root {
    --cor0: #c5ebd6;
    --cor01:#83e1ad;
    --cor02: #3ddc84;
    --cor03: #2fa866;
    --cor04: #1a5c37;
    --cor05: #063d1e;

    --fonte-padrao: arial, Verdana, Helvetica, sans-serif;
    --fonte-desaque: 'Bebas Neue', cursive;
    --fonte-android: 'Android', cursive;
}


* {
    margin: 0px;
    padding: 0px;
}


body {
    background-color: var(--cor0);
    font-family: var(--fonte-padrao);
}

a.externo::after {
    content: '\00A0\1f517';
}
main p {
   margin: 15px 0px;
   text-align: justify;
   padding-bottom: 10px;

}

header { 
    background-image: linear-gradient(to bottom, var(--cor03), var(--cor05));
    min-height: 150px;
    text-align: center;
    padding-top: 40px;

}

header h1 {
    color: white;
    font-family: var(--fonte-desaque);
    margin-bottom: 30px;
    font-weight: normal;
    font-size: 3em;
    text-shadow: 2px 2px 0px rgba(0, 0, 1, 0.658);
}

header p {
    font-family: var(--fonte-padrao);
    color: white;
    font-size: 1.2em;
    max-width: 600px;
    margin: auto;
    padding-bottom: 50px;
    padding-right: 10px;
    padding-left: 10px;
    text-shadow: 2px 2px 0px rgba(0, 0, 1, 0.486);
}

nav {
    background-color: var(--cor05);
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.418);
}

nav a {
    color: var(--cor01);
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition-duration: 0.2s; 
    padding: 10px;

}

nav a:hover {
    background-color: var(--cor03);
    color: var(--cor05);
}

main {
    margin: auto;
    margin-bottom: 30px;
    min-width: 300px;
    max-width: 1000px;
    background-color: white;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.418);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

main img {
    width: 100%;
}

main img.pequena {
    max-width: 350px;
    display: block;
    margin: auto;
}

main h1 {
    color: var(--cor05);
    font-family: var(--fonte-android);
    font-size: 1.8em;
    font-weight: normal;
}

main h2 {
    font-family: var(--fonte-android);
    color: var(--cor04);
    font-size: 1.4em;
    font-weight: normal;
    background-image: linear-gradient(to right, var(--cor01), transparent);
    text-indent: 8px;
}

main p {
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    line-height: 2em;
    font-size: 1.1em;
}

main strong {
    color: var(--cor04);
    font-weight: bold;;
}

main a {
    text-decoration: none;
    font-weight: bold;
    color: var(--cor05);
    background-color: var(--cor01);
    padding: 2px 6px;
}

main a:hover {
    text-decoration: underline;
    color: var(--cor04);
}

div.video {
    background-color: var(--cor05);
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 59%;
    position: relative;
}

div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

aside {
    background-color: var(--cor01);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 8px rgb(0, 0, 0.281);
}

aside h3 {
    background-color: var(--cor04);
    color: white;
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
}

aside ul { 
    list-style: '\2714\00A0\00A0';
    list-style-position: inside;
    columns: 2;
   
}

footer {
    background-color: var(--cor05);
    color: white;
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
}

footer a {
    color: white;
    font-weight: bolder;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
    color: var(white);
}
